@import url("");
/* import????? hjælp? */

/* ---- ---- ---- ---- NAV BAR ---- ---- ---- ---- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 1rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    background-color: #496D69;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fefefe;
}

.nav-menu {
    width: 100%;
    padding: 1rem;
    margin-right: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
}

.nav-item {}

.nav-link {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fefefe;
}

.nav-link:hover {
    color: orange;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        gap: 9rem;
        background-color: #496D69;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 0 auto;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin: 1rem;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

    .infoImg {
        width: 100%;
    }
    
    /* Branding */
    .colors {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }
}

@media only screen and (min-width: 769px) {
    .branding__colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    }

    .colors__header {
        grid-column: span 2;
    }

    .colors__square {
        width: 10rem;
        height: 10rem;
        justify-self: center;
        border: 1px solid gray;
    }
    
    .colors {
        padding: 1rem;
        display: grid;
    }
}

.subject {
    margin: 4rem;
}

.branding_heading {
    text-align: center;
    margin: .5rem;
    padding: .5rem;
    background-color: rgb(73, 109, 105, 0.5);
}

.colors__header {
    text-align: center;
    margin-top: 1rem;
    text-decoration: underline;
}

.colors__info {
    text-align: center;
    padding: .5rem;
}

.colors__square {
    width: 10rem;
    height: 10rem;
    justify-self: center;
    border: 1px solid gray;
}

.--default-status {
    background-color: #339966;
}

.--warning-status {
    background-color: #E07400;
}

.--error-status {
    background-color: #9F2B2C;
}

.--default-notice {
    background-color: #074B29;
}

.--warning-notice {
    background-color: #282828;
}

.--inactive {
    background-color: #CBCBCB;
}

.--inactive-border {
    background-color: #ADADAD;
}

.--stop {
    background-color: #FB3F3F;
}

.--stop-border {
    background-color: #C31717;
}

.--start {
    background-color: #56DF64;
}

.--start-border {
    background-color: #2EB73C;
}

.--btn-primary {
    background-color: #809996;
}

.--btn-border {
    background-color: #4E6764;
}

.--primary-font {
    background-color: #282828;
}

.--secondary-font {
    background-color: #fefefe;
}

.--header-background {
    background-color: #496D69;
}

.--primary-color {
    background-color: #282828;
}

.--secondary-color {
    background-color: #fefefe;
}

.--error-message-status {
    background-color: #9F2B2C;
}

.--error-steps {
    background-color: #6D8A87;
}

.branding_font {
    text-align: center;
}

.font__header {
    text-align: center;
    margin-top: 1rem;
}

.font__info {
    text-align: center;
    padding: .5rem;
}

.sizing__header {
    text-align: center;
    margin-top: 1rem;
}

.sizing__info {
    text-align: center;
    padding: .5rem;
}

.properties__heading {
    margin-top: 1rem;
}

.headline {
    padding-bottom: 20px;
}

.button {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 100px;
}

.button__info {
    background-color: #809996;
    width: calc((100%/2)-1rem);
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    color: black;
}

.info {
    padding-bottom: 5rem;

}

.info__header {
    padding-bottom: 5px;
}

.infoImg {
    width: 30%;
}

button {
    background-color: #809996;
    width: calc((100%/2)-1rem);
    padding: 1.5rem;
    border-radius: 10px;
    border: none;
}

.to-top {
    position: fixed;
    height: 50px;
    width: 50px;
    background-color: rgb(245, 242, 242);
    bottom: 20px;
    right: 10px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    border-radius: 10px;

}

html {
    scroll-behavior: smooth;
}