<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <title>Components</title>
</head>

<body>
    <header class="header">
        <nav class="navbar">
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="../index.html" class="nav-link">Forside</a>
                </li>
                <li class="nav-item">
                    <a href="../components/components.html" class="nav-link">Components</a>
                </li>
                <li class="nav-item">
                    <a href="../branding/branding.html" class="nav-link">Branding</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main>
        <h1 class="headline">Gå til...</h1>
        <section class="button">
            <a href="#sreenSaver">
                <button class="button__info">Pauseskærm</button>
            </a>

            <a href="#StartStopButtons">
                <button class="button__info">Stop & Start</button>
            </a>

            <a href="#navBar">
                <button class="button__info">Nav bar</button>
            </a>

            <a href="#menuButton">
                <button class="button__info"> Menu button</button>
            </a>

            <a href="#errorMessageInfo">
                <button class="button__info">Error message info</button>
            </a>

            <a href="#dosingAlarmButton">
                <button class="button__info">Dosering Alarm button</button>
            </a>

            <a href="#perValue">
                <button class="button__info">ORP værdi</button>
            </a>

            <a href="#errorNav">
                <button class="button__info">Error nav</button>
            </a>

            <a href="#statusIcons">
                <button class="button__info">Status icons</button>
            </a>

            <a href="#status-wIcons">
                <button class="button__info">Status w/icons</button>
            </a>

            <a href="#">
                <button class="button__info">Knapper</button>
            </a>
        </section>

        <section class="info" id="sreenSaver">
            <h2 class="info__header">Pauseskærm</h2>
            <img class="infoImg" src="../images/screenSaver-good.png" alt="" srcset="">
            <img class="infoImg" src="../images/sreenSaver.png" alt="">
            <img class="infoImg" src="../images/sreenSaver-bad.png" alt="">
        </section>

        <section class="info" id="StartStopButtons">
            <h2 class="info__header">Start & Stop</h2>
            <img class="infoImg" src="../images/start-stop-knap.png" alt="" srcset="">
        </section>

        <section class="info" id="navBar">
            <h2 class="info__header">Nav bar</h2>
            <img class="infoImg" src="../images/navBar.png" alt="" srcset="">
        </section>

        <section class="info" id="menuButton">
            <h2 class="info__header">Menu button</h2>
            <img class="infoImg" src="../images/menuButton.png" alt="" srcset="">
        </section>

        <section class="info" id="errorMessageInfo">
            <h2 class="info__header">Error message info</h2>
            <img class="infoImg" src="../images/errorMessage-info.png" alt="" srcset="">
            <img class="infoImg" src="../images/errorMessageInfo.png" alt="" srcset="">
        </section>

        <section class="info" id="dosingAlarmButton">
            <h2 class="info__header">Dosering Alarm knap</h2>
            <img class="infoImg" src="../images/dosingAlarmButton.png" alt="" srcset="">
        </section>

        <section class="info" id="perValue">
            <h2 class="info__header">ORP værdi</h2>
            <img class="infoImg" src="../images/perValue.png" alt="" srcset="">
        </section>

        <section class="info" id="errorNav">
            <h2 class="info__header">Error nav</h2>
            <img class="infoImg" src="../images/errorNav.png" alt="" srcset="">
        </section>

        <section class="info" id="statusIcons">
            <h2 class="info__header">Status icons</h2>
            <img class="infoImg" src="../images/statusIcons.png" alt="" srcset="">
        </section>

        <section class="info" id="status-wIcons">
            <h2 class="info__header">Status icons</h2>
            <img class="infoImg" src="../images/status-wIcons.png" alt="" srcset="">
        </section>
    </main>

    <script src="../hamburger.js"></script>
</body>

</html>